@media screen and (max-width:500px){

  .intro2{
    text-align: center;
    color: white;
    width: 100%;
    padding-bottom: 30px;
    background-color: #704c9d;
    display: block;
  }
  .nav{
    display: none;
  }

  .content{
    background-color: white;
    width:100%;
    font-size: 12px;
    margin: 0%;
}

    #hearting{

       height:20px;
        width:20px;
		top:10px;
		right:10px;
        z-index:2200;

    }
    #hearting2{

        
        padding: 0.8%;
        width:auto;
		top:10px;
		right:0px;
        z-index:2200;
        font-size: 10px;


    }

    #mailme{

      
        width:40px;
		top:10px;
		right:14px;
        z-index:2200;
	  height:40px;
      border-radius: 50%;
      border: solid 0.5px white;

  }
  #q1{
  transform:translate(-70px,40px);
  }
  #q2{
    transform:translate(0,0);
  }
  .about{
    font-size: 12px;
    margin-top: 50px;
  }
  .achiv{
    width: 95%;
    font-size: 12px;
    padding-left: 2%;
  }
  .achiv2{
    margin-top: 140px;
  }
  .skills{
    margin-top: 80px;
  }

  #acimg{
    width: 100%;
    height:auto;
    border-radius: 4% 4% 0 0;
  }
  #imgleft{
    padding: 0px;
  }
  #imgright{
    padding: 0px;
  }
  .imgsctn{
    width: 100%;
    float: left;
  }
  .contsctn{
    width: 90%;
    float: left;
    margin-bottom: 20px;
  }
  #colpng{
    width:5%;
  }
  #colcont{
    width:93%;
  }
  #skillh{
    transform:translateX(0px);
  }
  #hobh{
    transform:translateX(0px);
  }
  #achh{
    transform:translateX(0px);
  }
  .sendme{
    width: 80%;
    padding: 1% 2%;
    margin-left: 8%;

  }
  #menume{
    display: block;
    position:fixed;
     height:52px;
      width:12%;
      z-index:2000;
      float:right;
      margin-left:4%;
      margin-top:10px;
}
#menume:hover{
  transform: scale(1.3);
}
.navbarmob{
  opacity: 0.96;
  position: fixed;
  display: block;
  z-index: 100;
  width: 80%;
  margin-top: 55px;
  background-color: #8a5ac5;
  min-height:300px;
  border-radius: 0% 5% 5% 0%;
  line-height: 40px;
  text-align: center;

}
#navlink2{

  font-size: 20px;
  color: #aeaeae;
  transition:all 0.5s ease-in-out;
  font-family: 'Revalia', cursive;
  padding: 5px 15px 5px 15px;
  border-radius: 5%;
}
.we{
	text-align:center;
}

}
