.main{
  .todos{
    .each{
      width: 300px;
      display: flex;
      background-color: #e9e9e9;
      margin: 2px;
      padding: 20px 10px;
      justify-content: space-between;
      .todotext{
        width: 250px;
        .checkbox{
          margin-right: 10px;
          width: 15px;
          transform: translateY(2px);
          height: 15px;
        }
      }
      .todoinput{
        padding: 8px;
        width: 100%;
      }
      .todoadd{
        background-color: #1ad897;
        padding: 5px 20px;
        display: flex;
        border-radius: 2px;
        border: solid 0.5px grey;
        cursor: pointer;
        font-weight: bold;
        color: #212121;
        align-items: center;
        font-size: 12px;
      }
      .tododel{
        width: 50px;
      }
    }
  }
  .inputbox{
    .todoinput{

    }
    .todoadd{

    }
  }
}
.cross{
  width: 4px;
  height: 16px;
  cursor: pointer;
  position: relative;
  margin: auto;
  background-color: red;
  transform: rotate(45deg) translateX(5px);;
}
.cross:after{
  width: 16px;
  position: absolute;
  background-color: red;
  height: 4px;
  left: -6.5px;
  top: 6px;
  content: "";
}
